In [1]:
import pandas as pd

clean_reviews = pd.read_csv('/Users/danielebelmiro/Data Analytics Bootcamp/Rotten/clean_reviews.csv')

In [2]:
clean_reviews

,id,title,reviewId,creationDate,criticName,isTopCritic,reviewState,publicatioName,reviewText,scoreSentiment,cleanedReviewText
0,beavers,Beavers,1145982,2003-05-23,Ivan M. Lincoln,False,fresh,Deseret News (Salt Lake City),Timed to be just long enough for most youngste...,POSITIVE,Timed to be just long enough for most youngste...
1,blood_mask,Blood Mask,1636744,2007-06-02,The Foywonder,False,rotten,Dread Central,It doesn't matter if a movie costs 300 million...,NEGATIVE,It doesnt matter if a movie costs 300 million ...
2,city_hunter_shinjuku_private_eyes,City Hunter: Shinjuku Private Eyes,2590987,2019-05-28,Reuben Baron,False,fresh,CBR,The choreography is so precise and lifelike at...,POSITIVE,The choreography is so precise and lifelike at...
3,city_hunter_shinjuku_private_eyes,City Hunter: Shinjuku Private Eyes,2558908,2019-02-14,Matt Schley,False,rotten,Japan Times,The film's out-of-touch attempts at humor may ...,NEGATIVE,The films outoftouch attempts at humor may fin...
4,dangerous_men_2015,Dangerous Men,2504681,2018-08-29,Pat Padua,False,fresh,DCist,Its clumsy determination is endearing and some...,POSITIVE,Its clumsy determination is endearing and some...
...,...,...,...,...,...,...,...,...,...,...,...
1363574,thor_love_and_thunder,Thor: Love and Thunder,102706151,2022-07-05,Christie Cronan,False,fresh,Raising Whasians,Solid but not totally sold&#44; Thor&#58; Ragn...,POSITIVE,Solid but not totally sold Thor Ragnarok still...
1363575,thor_love_and_thunder,Thor: Love and Thunder,102706150,2022-07-05,Ian Sandwell,False,fresh,Digital Spy,Thor&#58; Love and Thunder is the most enterta...,POSITIVE,Thor Love and Thunder is the most entertaining...
1363576,thor_love_and_thunder,Thor: Love and Thunder,102706149,2022-07-05,Lauren LaMagna,False,fresh,Next Best Picture,&quot;Thor&#58; Love and Thunder&quot; is a st...,POSITIVE,Thor Love and Thunder is a stepup from Thor Ra...
1363577,thor_love_and_thunder,Thor: Love and Thunder,102706148,2022-07-05,Jake Cole,True,rotten,Slant Magazine,Across Taika Waititi&#8217;s film&#44; a war a...,NEGATIVE,Across Taika Waititis film a war against the g...
1363578,thor_love_and_thunder,Thor: Love and Thunder,102706147,2022-07-05,Roger Moore,False,fresh,Movie Nation,It&#8217;s the jokes that make it&#44; with th...,POSITIVE,Its the jokes that make it with the selfmockin...

In [3]:
clean_movies = pd.read_csv('/Users/danielebelmiro/Data Analytics Bootcamp/Rotten/clean_movies.csv')

In [4]:
clean_movies

,id,title,audienceScore,tomatoMeter,runtimeMinutes,genre,originalLanguage,director,writer,release_year
0,love_lies,"Love, Lies",43.00,65.76,120.0,Drama,Korean,"Park Heung-Sik,Heung-Sik Park","Ha Young-Joon,Jeon Yun-su,Song Hye-jin",Unknown
1,dinosaur_island_2002,Dinosaur Island,70.00,65.76,80.5,Fantasy,English,Will Meugniot,John Loy,2017
2,dinosaur_island_2002,Dinosaur Island,70.00,65.76,80.5,Adventure,English,Will Meugniot,John Loy,2017
3,dinosaur_island_2002,Dinosaur Island,70.00,65.76,80.5,Animation,English,Will Meugniot,John Loy,2017
4,adrift_2018,Adrift,65.00,69.00,93.0,Adventure,English,Baltasar KormÃ¡kur,"Aaron Kandell,Jordan Kandell,David Branson Smith",2018
...,...,...,...,...,...,...,...,...,...,...
117591,fun_size,Fun Size,47.00,25.00,86.0,Holiday,English,Josh Schwartz,Max Werner,2012
117592,fun_size,Fun Size,47.00,25.00,86.0,Comedy,English,Josh Schwartz,Max Werner,2012
117593,dassehra,Dassehra,55.67,65.76,131.0,Action,Hindi,Manish Vatsalya,Saurabh Choudhary,2019
117594,dassehra,Dassehra,55.67,65.76,131.0,Thriller,Hindi,Manish Vatsalya,Saurabh Choudhary,2019
117595,the-human-body,The Human Body,71.00,89.00,43.0,Documentary,English,Peter Georgi,Richard Dale,Unknown

In [10]:
filtered_movies = clean_movies[(clean_movies['tomatoMeter'] < 30) & (clean_movies['audienceScore'] < 30)]
print(filtered_movies)

                    id           title  audienceScore  tomatoMeter  \
116           my_giant        My Giant           25.0         21.0
117           my_giant        My Giant           25.0         21.0
129          pimp_2010            Pimp           13.0          0.0
181          stay_cool       Stay Cool           24.0         14.0
329          open_road   The Open Road           25.0         29.0
...                ...             ...            ...          ...
117495   creature_1985        Creature           14.0         29.0
117521  northeast_2011       Northeast           17.0         20.0
117538  action_replayy  Action Replayy           27.0          0.0
117539  action_replayy  Action Replayy           27.0          0.0
117540  action_replayy  Action Replayy           27.0          0.0

        runtimeMinutes     genre originalLanguage             director  \
116         103.000000    Comedy          English      Michael Lehmann
117         103.000000     Drama          English      Michael Lehmann
129         103.666667  Thriller          English       Robert Cavanah
181          94.000000    Comedy          English       Michael Polish
329          81.333333    Comedy          English     Michael Meredith
...                ...       ...              ...                  ...
117495       89.800000    Sci-fi          English       William Malone
117521       90.500000     Drama          English         Gregory Kohn
117538      131.000000   Romance            Hindi  Vipul Amrutlal Shah
117539      131.000000    Comedy            Hindi  Vipul Amrutlal Shah
117540      131.000000    Sci-fi            Hindi  Vipul Amrutlal Shah

                                           writer release_year
116     Billy Crystal,David Seltzer,David Seltzer         1998
117     Billy Crystal,David Seltzer,David Seltzer         1998
129                      Robert Cavanah,Jon Kirby         2012
181                                   Mark Polish         2011
329                              Michael Meredith         2009
...                                           ...          ...
117495                   William Malone,Alan Reed         2003
117521                               Gregory Kohn         2012
117538                 Aatish Kapadia,Suresh Nair         2011
117539                 Aatish Kapadia,Suresh Nair         2011
117540                 Aatish Kapadia,Suresh Nair         2011

[2158 rows x 10 columns]

In [11]:
filtered_movies.groupby('id').size()

id
10005402-chaos         1
10006470               1
10006731-iowa          1
10007898-slipstream    4
10007985-happening     2
                      ..
zapped_again           1
zero_contact           1
zipper                 2
zombies_lake           1
zoolander_2            2
Length: 1262, dtype: int64

In [14]:
grouped_movies = filtered_movies.groupby('id').agg({
    'tomatoMeter': 'mean',
    'audienceScore': 'mean',
    'title': 'first'  # MantÃ©m o tÃ­tulo do filme
}).reset_index()

grouped_movies

                       id  tomatoMeter  audienceScore            title
0          10005402-chaos          5.0           24.0            Chaos
1                10006470         17.0           25.0       Destricted
2           10006731-iowa         15.0           17.0             Iowa
3     10007898-slipstream         27.0           29.0       Slipstream
4      10007985-happening         18.0           24.0    The Happening
...                   ...          ...            ...              ...
1257         zapped_again          0.0           25.0    Zapped Again!
1258         zero_contact         10.0            0.0     Zero Contact
1259               zipper         20.0           27.0           Zipper
1260         zombies_lake         14.0           19.0     Zombies Lake
1261          zoolander_2         22.0           20.0  Zoolander No. 2

[1262 rows x 4 columns]

In [16]:
# Count the total number of reviews per movie
total_reviews = clean_reviews.groupby('id').size()

# Count the total number of negative reviews per movie
negative_reviews = clean_reviews[clean_reviews['scoreSentiment'] == 'NEGATIVE'].groupby('id').size()

# Create a DataFrame with this information
sentiment_summary = pd.DataFrame({'total_reviews': total_reviews, 'negative_reviews': negative_reviews})

# Replace NaN values with 0 (in case some movies have no negative reviews)
sentiment_summary.fillna(0, inplace=True)

# Calculate the percentage of negative reviews
sentiment_summary['negative_percentage'] = (sentiment_summary['negative_reviews'] / sentiment_summary['total_reviews']) * 100

# Filter movies with more than 30% negative reviews
filtered_movies = sentiment_summary[sentiment_summary['negative_percentage'] > 30]

# Show the results
filtered_movies

                   total_reviews  negative_reviews  negative_percentage
id
009_re_cyborg                 13              10.0            76.923077
10-violent-women               1               1.0           100.000000
10000292-rat                   3               2.0            66.666667
10000390-mickey                8               5.0            62.500000
10000594-guardian              3               2.0            66.666667
...                          ...               ...                  ...
zotz                           2               2.0           100.000000
zpg                            4               4.0           100.000000
zu_warriors                    5               4.0            80.000000
zulfiqar                       1               1.0           100.000000
zus_and_zo_2003               18              11.0            61.111111

[19366 rows x 3 columns]